nav {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: #f7f7f7;
  padding: 15px;
  top: 0;
  border-bottom: 1px solid #e2e1e1;
  //box-shadow: 0 1px 10px #e2e1e1;
}

ul {
  list-style-type: none;
}
