.container {
  background-color: white;
  margin-right: 20px;
  border-radius: 15px;
}

img {
  width: 200px;
  height: auto;
  border-radius: 15px;
}

fa-icon {
  font-size: 30px;
  margin-right: 10px;
}

.outer-container {
  margin: 20px;
  padding: 20px;
  width: 80%;
  align-items: center;
  justify-content: space-between;
}

.bckg {
  text-align: -webkit-center;
}
