<h1>Parcours</h1>

<div class="grid" *ngFor="let career of careers; let i = index">
  <div class="col2 row{{ i + 1 }} rond"></div>
  <div class="hr col2 row{{ i + 1 }}"></div>
  <div class="col3 row{{ i + 1 }}">
    <h2>{{ career.title }}</h2>
    <p>{{ career.description }}</p>
  </div>
  <h3 class="col1 row{{ i + 1 }}">{{ career.date }}</h3>

  <!--   <div class="col2 row2 rond"></div>
  <div class="hr col2 row2"></div>
  <div class="col3 row2 row">
    <h2>Formation Développeuse Web & Web Mobile</h2>
    <ul class="training">
      <li>php</li>
      <li>html/css</li>
    </ul>
  </div>
  <h3 class="col1 row2">Mars - Novembre 2021</h3> -->
</div>
