<div class="mb-20 component" id="career">
  <h1>Parcours</h1>

  <!-- grid -->
  <div class="grid" *ngFor="let career of careers; let i = index">
    <!-- col 2 -->
    <div class="col2 row1 rond"></div>
    <div class="hr col2 row1"></div>

    <!-- col 3 -->
    <div class="col3 row1 box-shadow">
      <h2>{{ career.title }}</h2>
      <!-- detail of experience -->
      <p>{{ career.p1 }}</p>
      <!-- more details -->
      <ul>
        <li>{{ career.p2 }}</li>
        <li>{{ career.p3 }}</li>
        <li>{{ career.p4 }}</li>
        <li>{{ career.p5 }}</li>
      </ul>
    </div>

    <!-- col 1 -->
    <h3 class="col1 row1">{{ career.date }}</h3>
  </div>
</div>
