<div class="backgroundImg">
  <header class="text-align-center">
    <h1 id="home">Développeuse <br />back-end</h1>
    <h2>Ou comme j'aime à dire "Enquêtrice codeuse acharnée"...</h2>

    <h3>Curieuse et aimant apprendre, je cherche à m'améliorer.</h3>
  </header>
</div>

<div
  class="container d-flex flex-row flex-justify-content-space-evenly flex-align-items-center"
>
  <div>
    <img
      class=""
      src="assets/Illustration-Sarah-v2.jpg"
      alt="Mon illustration"
    />
    <p>Bonjour,</p>
    <br />
    <p>
      Je m'appelle Sarah et j'ai 31 ans. Après une vie de quête
      spirituelle/professionnelle de moi-même, j'ai fait un bilan de
      compétences.
    </p>
    <ul>
      <li>salut</li>
      <li>test</li>
    </ul>
  </div>
</div>
