<div class="backgroundImg">
  <header
    class="text-align-center d-flex flex-column flex-justify-content-between"
  >
    <h1 id="home">Développeuse <br />back-end</h1>
    <h2>Ou comme j'aime à dire "Enquêtrice codeuse acharnée"...</h2>

    <h3>Curieuse et aimant apprendre, je cherche à m'améliorer.</h3>
    <fa-icon [icon]="faSearch"></fa-icon>
  </header>
</div>

<div
  class="d-flex flex-justify-content-space-evenly flex-align-items-center m-20 p-20 intro"
>
  <img class="" src="assets/Illustration-Sarah-v2.jpg" alt="Mon illustration" />
  <div class="container">
    <p>Bonjour,</p>
    <br />
    <p>
      Je m'appelle Sarah et j'ai 31 ans. Après une vie de quête
      spirituelle/professionnelle de moi-même, j'ai fait un bilan de
      compétences.
    </p>
    <br />
    <p><em>L'illustration est de moi ;)</em></p>
  </div>
</div>
