<div class="bckg component">
  <h1>Projets</h1>

  <!-- *ngFor -->
  <ul>
    <!-- list -->
    <li
      class="card m-10 p-20 text-align-center"
      *ngFor="let project of projects; let i = index"
    >
      <img [src]="project.img" [alt]="project.name" />

      <h2>{{ project.name }}</h2>

      <p class="text-justify">{{ project.introduction }}</p>

      <div
        class="d-flex flex-row flex-wrap flex-justify-content-space-evenly m-10"
      >
        <p
          class="btn btn-secondary"
          *ngFor="let tag of project.tags; let z = index"
        >
          {{ project.tags[z] }}
        </p>
      </div>

      <button class="btn">Détails</button>
    </li>
  </ul>
</div>
