<h1>Compétences</h1>

<div class="container p-10 m-20">
  <h2>Back-end</h2>
  <ul class="d-flex flex-row flex-justify-content-space-evenly">
    <li class="ml-20">Zéro</li>
    <li class="">Un</li>
    <li class="">Deux</li>
    <li class="">Trois</li>
  </ul>

  <h2>Front-end</h2>
  <ul class="d-flex flex-row flex-justify-content-space-evenly">
    <li class="ml-20">Zéro</li>
    <li class="">Un</li>
    <li class="">Deux</li>
    <li class="">Trois</li>
  </ul>

  <h2 class="">Outils</h2>

  <ul class="d-flex flex-row flex-justify-content-space-evenly">
    <li class="ml-20">Zéro</li>
    <li class="">Un</li>
    <li class="">Deux</li>
    <li class="">Trois</li>
  </ul>

  <h3>Autres compétences</h3>

  <ul class="d-flex flex-row flex-justify-content-space-evenly">
    <li class="ml-20">Zéro</li>
    <li class="">Un</li>
    <li class="">Deux</li>
    <li class="">Trois</li>
  </ul>
</div>
