<div class="bckg component">
  <h1>Compétences</h1>

  <div class="grid">
    <h2 class="title row1 col1">Back</h2>
    <ul class="d-flex row1 col2 container box-shadow">
      <li><fa-icon class="" [icon]="faPhp"></fa-icon></li>
      <li><span class="iconify" data-icon="simple-icons:mysql"></span></li>
    </ul>

    <h2 class="title row2 col1">Front</h2>
    <ul class="d-flex row2 col2 container box-shadow">
      <li class="d-flex flex-column">
        <fa-icon class="icon" [icon]="faJsSquare"></fa-icon>
      </li>
      <li><fa-icon class="" [icon]="faAngular"></fa-icon></li>
      <li><fa-icon class="" [icon]="faBootstrap"></fa-icon></li>
    </ul>

    <h2 class="title row3 col1">Outils</h2>
    <ul class="d-flex row3 col2 container box-shadow">
      <li><fa-icon class="" [icon]="faGit"></fa-icon></li>
      <li><span class="iconify" data-icon="cib:intellijidea"></span></li>
      <li><span class="iconify" data-icon="simple-icons:phpstorm"></span></li>
      <li>
        <span class="iconify" data-icon="vscode-icons:file-type-vscode"></span>
      </li>
    </ul>

    <h2 class="title row4 col1">Autres Compétences</h2>
    <ul class="d-flex row4 col2 container box-shadow">
      <li class="d-flex flex-column flex-align-items-center">
        <span class="iconify" data-icon="twemoji:flag-for-flag-united-kingdom">
        </span>
        <p>B1/B2</p>
      </li>
      <li><fa-icon class="" [icon]="faWordpressSimple"></fa-icon></li>
      <li><span class="iconify" data-icon="logos:prestashop"></span></li>
      <li><span class="iconify" data-icon="cib:adobe-illustrator"></span></li>
      <li>
        <span class="iconify" data-icon="simple-icons:affinitydesigner"></span>
      </li>
    </ul>
  </div>

  <!--  <div class="container p-10 m-20">
    <h2>Back-end</h2>
    <ul class="d-flex flex-row flex-justify-content-space-evenly">
      <li class="ml-20">PHP</li>
      <li class="">MySQL</li>
    </ul>

    <h2>Front-end</h2>
    <ul class="d-flex flex-row flex-justify-content-space-evenly">
      <li class="ml-20">JavaScript</li>
      <li class="">Angular</li>
    </ul>

    <h2 class="">Outils</h2>

    <ul class="d-flex flex-row flex-justify-content-space-evenly">
      <li class="ml-20">Git</li>
      <li class="">PHPStorm / VSCode</li>
      <li class="">MySQL Workbench</li>
      <li class="">MacOS</li>
      <li class="">Illustrator / Affinity Designer</li>
    </ul>

    <h3>Autres compétences</h3>

    <ul class="d-flex flex-row flex-justify-content-space-evenly">
      <li class="ml-20">WordPress</li>
      <li class="">Prestashop</li>
    </ul>
  </div> -->
</div>
