.container {
  background-color: var(--secondary);
  margin: 0 30px 20px;
  border-radius: 15px;
  padding: 20px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: 150px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: auto;
  }
  li {
    padding: 10px;
  }
}

div {
  text-align: -webkit-center;
}

ul {
  list-style-type: none;
}

li {
  text-align: center;
}

fa-icon {
  font-size: 30px;
}
@media (min-width: 768px) {
  fa-icon:hover {
    font-size: 60px;
  }
}
